name: Build a preview and release it to NUGET

on: workflow_dispatch
    
jobs:

  build:

    runs-on: ubuntu-latest
    permissions:
      contents: write # required for pushing the tag    
    
    steps:

    - name: Checkout
      uses: actions/checkout@v5

    - name: Setup .NET SDK
      uses: actions/setup-dotnet@v5
      with:
          dotnet-version: |
            6.0.x
            8.0.x
            10.0.x

    # ---------------------------------------------  Android SDK

    - name: Set up JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: '21'
        distribution: 'zulu'

    - name: Setup Android SDK
      uses: android-actions/setup-android@v3

    # ---------------------------------------------  Workloads

    - name: Install Workload
      run: dotnet workload install maui-windows android wasm-tools wasi-experimental  # ios and maui-ios are not supported in ubuntu machines https://github.com/dotnet/maui/issues/15929

    # ---------------------------------------------  restores

    - name: Define Version at GHENV_PACKAGEVERSION
      run: |
        chmod +x ./.github/workflows/FormatSemver.sh
        ./.github/workflows/FormatSemver.sh "1.0.0-Prv-DATE" >> $GITHUB_ENV

    - name: Build
      run: |
        chmod +x ./CodeSugar.Build.sh
        ./CodeSugar.Build.sh $GHENV_PACKAGEVERSION

    - name: Push to NuGet
      run: dotnet nuget push "*.nupkg" --api-key ${{secrets.CodeSugar_PublishToNuget}} --source https://api.nuget.org/v3/index.json

    - name: create tag
      uses: ./.github/actions/PushGithubTag
      with:
        tag-name: "${{env.GHENV_PACKAGEVERSION}}"
        message: "new tag for ${{env.GHENV_PACKAGEVERSION}}"
